/**
 * CoDRAG Theme Variants
 * 
 * Each theme sets CSS custom properties via [data-codrag-theme='X'] selectors.
 * Toggle themes by setting the data-codrag-theme attribute on <html> or a container.
 * 
 * Available themes: a, b, c, d, e, f, g, h, i, j, k, l
 * 
 * Usage:
 *   <html data-codrag-theme="a">  // Direction A: Slate Developer
 *   <html data-codrag-theme="k" class="dark">  // Direction K dark mode
 */

@import './direction-a.css';
@import './direction-b.css';
@import './direction-c.css';
@import './direction-d.css';
@import './direction-e.css';
@import './direction-f.css';
@import './direction-g.css';
@import './direction-h.css';
@import './direction-i.css';
@import './direction-j.css';
@import './direction-k.css';
@import './direction-l.css';
@import './direction-m.css';
@import './direction-n.css';
